
@{
    ViewBag.Title = "Index";
}


<div class="body_wrap">
    <div class="add_car_big">
        <article class="form">

            <section>
                <div class="chat_title">Björn &amp; Inger Olsson - Toast</div>
                <hr>
                <div class="clear"></div>
                <div class="from-them-datestamp">2015-01-01 15:38</div>
                <div class="clear"></div>
                <div class="from-them">
                    <p>Vi skulle vilja hålla ett tal</p>
                </div>
                <div class="clear"></div>
                <div class="from-me-datestamp">2015-01-01 15:38</div>
                <div class="clear"></div>
                <div class="from-me">
                    <p>Absolut. Tänk på längden</p>
                </div>
                <div class="clear"></div>
                <div class="from-them-datestamp">2015-01-01 15:38</div>
                <div class="clear"></div>
                <div class="from-them">
                    <p>Jadå, inga problem. Vi tänker typ två minuter.</p>
                </div>
                <div class="clear"></div>
                <div class="from-me-datestamp">2015-01-01 15:38</div>
                <div class="clear"></div>
                <div class="from-me">
                    <p>Jaja, men då kan jag lägga in er innan efterrätten.</p>
                </div>
                <div class="clear"></div>
                <div class="from-them-datestamp">2015-01-01 15:38</div>
                <div class="clear"></div>
                <div class="from-them">
                    <p>Underbart. Då kör vi på det. Vi kommer använda musik också.</p>
                </div>
                <div class="clear"></div>
                <div class="from-me-datestamp">2015-01-01 15:38</div>
                <div class="clear"></div>
                <div class="from-me">
                    <p>Inga problem. Det är bara att köra</p>
                </div>
                <div class="clear"></div>
                <br><br>
                <textarea cols="60" rows="6" class="chat_message_input" placeholder="Skriv meddelande här..."></textarea><br>
                <input type="submit" class="chat_message_button value=" hej">
            </section>

        </article>
    </div>
    <br>
    <br>
    <br>
    <br>
    <br>

</div>

