@{
    ViewBag.Title = "Forgot Password Confirmation";
}

<div class="krabba"></div>
<div class="flower2"></div>
<div class="flower"></div>

<div class="body_wrap">
    <div class="add_car_big">
        <article class="form">
            <h4>Instruktioner för att återställa ditt lösenord har skickats till din e-post.</h4>

        </article>
    </div>
</div>
