@{
    ViewBag.Title = "Reset password confirmation";
}

<div class="krabba"></div>
<div class="flower2"></div>
<div class="flower"></div>

<div class="body_wrap">
    <div class="add_car_big">
        <article class="form">

            <hgroup class="title">
                <h1>@ViewBag.Title.</h1>
            </hgroup>
            <div>
                <p>
                    Your password has been reset. Please @Html.ActionLink("click here to log in", "Login", "Account", routeValues: null, htmlAttributes: new { id = "loginLink" })
                </p>
            </div>
        </article>
    </div>
</div>
