@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Error</title>
</head>
<body>
    <hgroup>
        <h1>Ett fel har uppstått.</h1>
        <h2>Klicka bakåt i din webbläsare för att komma tillbaka</h2>
    </hgroup>
</body>
</html>
