@{
    ViewBag.Title = "Contact";
}

<div class="krabba"></div>
<div class="flower2"></div>
<div class="flower"></div>

<div class="body_wrap">
    <div class="add_car_big">
        <article class="form">

            <div class="ingress">
                För frågor kring anmälan, boende eller annat praktiskt kontakta Lisa eller Magnus.
                Om du vill anmäla tal eller framträdanden under middagen kontakta vårt toastpar Kajsa Rydström och Fredrik Andersson. Då vi kommer vara många på festen och vi gärna vill hinna dansa loss med er önskar vi att ni håller er under 3 minuter.
                <br /><br />
            </div>



            <div class="magnus-card-square mdl-card contact_magnus">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Magnus</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <table border="0" cellspacing="5">
                        <tr>
                            <td>
                                <i class="material-icons">phone</i>
                            </td>
                            <td class="contact-card__phone">0707 - 65 32 46</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="material-icons">email</i>
                            </td>
                            <td class="contact-card__email"><a href="mailto:magnus.rydstrom@gmail.com">magnus.rydstrom@gmail.com</a></td>
                        </tr>
                    </table>
                </div>
                <div class="mdl-card--border">
                </div>
            </div>


            <div class="lisa-card-square mdl-card">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Lisa</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <table border="0" cellspacing="5">
                        <tr>
                            <td>
                                <i class="material-icons">phone</i>
                            </td>
                            <td class="contact-card__phone">0737 - 25 81 37</td>
                        </tr>
                        <tr>
                            <td>
                                <i class="material-icons">email</i>
                            </td>
                            <td class="contact-card__email"><a href="mailto:lisa--olsson@hotmail.com">lisa--olsson@hotmail.com</a></td>
                        </tr>
                    </table>
                </div>
            </div>


            <div class="toast-card-square mdl-card">
                <div class="mdl-card__title mdl-card--expand">
                    <h2 class="mdl-card__title-text">Toastmasters</h2>
                </div>
                <div class="mdl-card__supporting-text">
                    <table border="0" cellspacing="5">
                        <tr>
                            <td>
                                <i class="material-icons">phone</i>
                            </td>
                            <td>
                                Kajsa
                            </td>
                            <td class="contact-card__phone">0762 - 73 57 56</td>
                        </tr>

                        <td>
                            <i class="material-icons">phone</i>
                        </td>
                        <td>
                            Fredrik
                        </td>
                        <td class="contact-card__phone">0731 - 59 30 20</td></tr>
                        <tr>
                            <td>
                                <i class="material-icons">email</i>
                            </td>
                            <td class="contact-card__email"><a href="mailto:toast@lisaochmagnus.net">toast@lisaochmagnus.net</a></td>
                        </tr>

                    </table>
                </div>
        </article>
        </div>
    </div>

    <br />
    <br />
</div>
