@model Wedding.Models.Start.IndexModel

@{
    ViewBag.Title = " - Start";
}


<div class="startwhite"></div>

<div class="datum"></div>
@*<div class="krabbastart"></div>*@
<div class="flower2start"></div>
<div class="flowerstart"></div>

<video playsinline muted loop autoplay id="bgvid" poster="/Content/img/frontpage.jpg">
    <source src="/Content/img/frontvideo.mp4" type="video/mp4">
</video>

<div class="mobile-frontpage-overlay"></div>

<div class="prepage-container-background">
</div>
<div class="prepage-container">



</div>

