@{
    ViewBag.Title = " - Vägen till nu";
}

<div class="krabba"></div>
<div class="flower2"></div>
<div class="flower"></div>
<div class="body_wrap">
    <div class="add_car_big">
        <article class="form">
            <h2 class="storytitle">VÄGEN TILL NU</h2>

            <o class="story">
                <b>1983</b>
                <p>
                    24 mars 1983 klockan 08:46 föddes Carl Magnus Rydström på Östra Sjukhuset i Göteborg. Då han valde att titta fram sex veckor för tidigt och var väldigt liten, fick han det storstilade namnet Carl Magnus.<br />
                    Några timmar tidigare samma dag föddes det i Tidaholm ett flickebarn som skulle komma att få stor betydelse i den här historien.
                    <br />
                    Magnus genomlevde en lugn uppväxt i Göteborg. När skolan skulle börja hade Magnus fått en clownryggsäck av sina föräldrar. Han tyckte inte den var så fin, men det gjorde grannen som glatt bytte den mot sin svarta Batmanryggsäck; superhjältevalet var gjort.
                </p>

                <b>1986 - 2012</b>
                <p>
                    1107 dagar efter Magnus ramlade en ny värmlänning ut till världen; Lisa Ingeborg Olsson. Hon växte upp som tredje barnet i syskonskaran och hade enligt familjen till en början oftast sinnestämningen ”gladarg”.<br />
                    Grundskolan varvades med scoutläger, sommarstugevistelser i Ljungskile, en kortare karriär som fotbollsmålvakt samt årliga Lisebergsbesök. Lisa kombinerade matte med musik under gymnasiet och funderade på vad hon skulle bli.
                    <br /><br />
                    Med Batman på ryggen klarade sig Magnus genom grundskolan, med 15 båtsemestrar och en sommarstugevistelse mellan varven innan han gick vidare till Hvitfeldtska gymnasiet där Magnus lyckades ta studenten 2002.
                    2005 tog Lisa studenten och hon var mycket klar över att hon i alla fall inte skulle göra som sina båda syskon och flytta till Göteborg. Istället slog hon sig in på en karriär som bildelssäljare. Det tog två år, sedan övergav Lisa Helmia Bil och flyttade till Göteborg.
                    Där började hon läsa till personalvetare och levde samboliv. Under utbildningen fick Lisa många nya goda vänner däribland Rebecca Ritter, flickebarnet från Tidaholm.<br /><br />

                    Samtidigt hade Magnus, som nu gjort sig av med både batmanryggsäck och moped närt sitt rädda-världen-komplex genom att åka till Costa Rica och jobba på sjukhus, där bestämt sig för att inte alls bli kock utan simultantolk i FN, gjort en kort sejour på Universitetet, insett hur mycket tålamod som krävdes för en slik karriär, hoppat av, börjat jobba på Swebus, startat egen firma som fotograf och flyttat in i den UngaHemsetta vid Redbergsplatsen han själv var med och skapade kampanjen för.
                    Livet rullade på.<br />
                    Lisa tog sin examen i personalvetenskap, sökte jobb, fick inget jobb, läste lite till, började jobba extra, planerade scoutläger, blev singel, läste lite till, åkte på olika småresor och fick till slut ett heltidsjobb. Här rekryterade hon allt från personal som vaktar temperaturen i kyldisken på Netto till personal som vaktar temperaturen i ett oljeraffinaderi. Jobbet i centrala staden hade fördelen att en kunde luncha med sina vänner.
                </p>
                <b>2013</b>
                <p>
                    I mitten av juni 2013 (kanske en onsdag) tog Lisa och Rebecca en dumplings-lunch i solen och vandrade sakta tillbaka mot jobbet där de i hörnet <a href="https://goo.gl/Rlf1Ar" target="_blank">
                        Kyrkogatan/Magasinsgatan
                    </a> sprang ihop med Rebeccas kollega Magnus. Med ett lätt stressat uttryck stannade han upp, hälsade, log och gick vidare till sushirestaurangen. Detta var mötet!<br />

                    När Magnus försvunnit runt hörnet slogs Rebecca av hur bra dessa två singlar skulle passa ihop.
                    Hon sålde in honom hos Lisa med säljargument som ”han är smart, gör snygga matlådor jag tror är goda och han brygger öl”. <br /><br />Lisa, som inte var svårövertalad, tyckte att de kunde bjuda med Magnus på en lunch eller AW så hon fick veta lite mer. Väl tillbaka på jobbet hann Rebecca inte lägga fram förslaget till Magnus innan han deklarerade på internchatten att hennes kompis var söt.

                    Efter detta följde en rad inställda träffar då Magnus skyllde på diverse fökylningar innan de till slut träffades (på exakt samma plats för säkerhets skull) och gick till Bar himmel på Götaplatsen den 20e augusti. Dejten varade i fem timmar och de avhandlade det mesta från laktosmagar till politiska ståndpunkter. Efter ytterligare en månad hade Magnus fått presentera sin kokkonst, Lisa sina syskonbarn och Magnus vågade sig med på kräftskiva med Lisas vänner i sommarstugan.
                    <br />Till slut frågade Lisa om det ändå inte var så att de var ihop och Magnus höll med.
                </p>
                <b>2014</b>
                <p>
                    Eftersom Lisa hade både gasspis och vardagsrum så tillbringade de den mesta tiden i hennes lägenhet i Sandarna. När hösten blivit vinter och gick mot vår, diskussionen om gemensam Chileresa redan dragit igång, och Magnus lagat alla sina favorit-skryt-mys-middagsrätter minst två gånger, bestämde de sig för att flytta ihop. Efter väldigt kort tid, och en hel del tur gick de två flyttlassen till Folke Bernadottes gata 2, som ganska omgående fick pris av Magnus som den finaste lägenhet han bott i (han hade bott i en tidigare).
                    <br />Lisa lärde Magnus att gå på festival, Magnus försökte lära Lisa spanska. Lisa lyckades bättre med sitt uppdrag, trots att hon var den av de två som inte kallade in professionell hjälp.
                    De reste och lagade mat, TBE-vaccinerade sig och pratade om livet, odlade örter, gnabbades om mikroskopiska skillnader i politiken och utamanade varandra i olika spel (som Lisa nästan alltid vann).
                </p>
                <b>2015</b>
                <p>
                    En sen fredagkväll i februari 2015 (den 6e) efter kinamat, På Spåret och ungefär en timme av förhöjd puls gick Magnus ut i köket och tittade på världen en stund. Han ropade strax dit Lisa, och frågade, trots de alltmer uppenbara förnedringarna i sällskapsspel, om hon ville göra honom den stora äran att bli hans fru. Hon sa ja!
                </p>
                <b>2016</b>
                <p>
                    Och resten är historia ännu inte skriven, men innefattar en vid bröllopet 42 695 dagar gammal kvinna och förhoppningsvis så många som möjligt av er.
                    <br />Välkomna att fira med oss!
                </p>
            </o>



            <img class="article left" src="~/Content/img/article/valparaiso.jpg" />
            <img class="article" src="~/Content/img/article/påsk.jpg" />
            <img class="article" src="~/Content/img/article/santiago.jpg" />
            <br />

            </o>
        </article>
    </div>
</div>
<br />
<br />
<br />
<br />



</div>
